<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates on working</title>
</head>
<body>
    <h1>Input your text below:</h1>
    <form action="/analyzed/" method="POST">
        {% csrf_token %}
        <textarea name="text" rows="20" cols="70"></textarea><br>
        <!-- <button type="text">ok</button> -->
         <input type="checkbox" name="removepunc"> Remove Punctuations<br>
         <input type="checkbox" name="fullcaps"> UPPERCASE<br>
        <input type="Submit" style="cursor: pointer;">
    </form>    
</body>
</html>
